body > div{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    width: 97vw;
}
div > h1{
    color: black;
}
div > img{
    width: 70%;
}
div > div{
    margin: 5vh 5vw;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
div > label{
    font-size: 16pt;
    font-weight: bold;
}
div > a{
    background-color: #cd4538;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 1vh 0;
    text-align: center;
    text-decoration: none;
    width: 30%;
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form input{
    height: 5vh;
    margin: 1vh 0;
    width: 75%;
}
form input[type=submit]{
    background-color: black;
    border: none;
    border-radius: 6px;;
    color: white;
    font-weight: bold;
    width: 76%;
}
p a{
    color: #cd4538;
    font-weight: bold;
}
@media(min-width:1080px){
    body{
        align-items: center;
        background-color: black;
        display: flex;
        height: 100vh;
        justify-content: center;
    }
    body > div{
        background-color: white;
        border-radius: 10px;
        width: 30vw;
    }
    p{
        margin-bottom: 5vh;
    }
}